{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="body_ bg-light pt-2 min-vh-100">
    <div class="container "> 
        <div class="post-detail p-sm-1 p-4 mb-1 shadow-2 rounded-1 bg-white">
            <div class="grid-2 gap-1">
            <div class=" d-flex align-items-start justify-content-center">
                <img class="w-65 bg-white object-fit" src="" alt="">
            </div>
            <!-- Content -->
            <div class="inner-shadow p-4 p-sm-1 rounded-1">
                <div class="text-dark-red fs-30 b-2">105$</div>
                <div class="fs-26  mt-1">Информация о товаре:</div>

                <div class="grid-2 gap-1 mt-1">
                    <div class="fs-16">Габаритные размеры (В*Ш*Г)</div>
                    <div class="fs-16 ">200*450*400mm</div>                       
                </div>
                <div class="grid-2 gap-1 mt-1">
                    <div class="fs-16">Масса</div>
                    <div class="fs-16 ">18.00 кг</div>                       
                </div>
                <div class="grid-2 gap-1 mt-1">
                    <div class="fs-16">Питание</div>
                    <div class="fs-16 ">4 батарейки АА</div>                       
                </div>
                <div class="fs-16 mt-1">
                    Открывается двумя наборами комбинаций: 4-х числовой пользовательский пароль
                </div>
                <div class="fs-16 mt-1">
                    6-и числовой мастер-пароль
                </div>
                <div class="fs-16 mt-1">
                    Толщина дверцы 4мм, толщина стенок 1,5 мм
                </div>
                <button  class="modal_btn btn btn-red rounded-1 mt-4 px-4 shadow-2 btn-md w-sm-100">Заказать</button>
            </div>

        </div>
        <button class="btn btn-light btn-md rounded-1 shadow-2 d-sm-none">О товаре</button>
        <hr class="bg-dark-light mt-5">
        <p class="fs-22">ИНФОРМАЦИЯ</p>
        <div class="grid-4 gap-1 grid-sm-2">
            <div class="card rounded-1 border-dark-light p-2 ">
                <div class="grid-2 gap-1 grid-sm-2 ">
                    <div class="fs-20 fs-sm-16 w-65 text-red">Доставка</div>
                    <div class="w-35 ml-auto w-sm-100"><img  class="w-100" src="	https://static.orbitalock.uz/images/delivery.png" alt=""></div>
                </div>
                <div class="fs-16">условия доставки для городов Росии и СНГ</div>
            </div>
            <div class="card rounded-1 border-dark-light p-2 ">
                <div class="grid-2 gap-1 grid-sm-2 ">
                    <div class="fs-20 fs-sm-16 w-65 text-red">Оплата</div>
                    <div class="w-35 ml-auto w-sm-75"><img  class="w-100" src=" https://static.orbitalock.uz/images/pay.png" alt=""></div>
                </div>
                <div class="fs-16">безналичным переводом</div>
            </div>
            <div class="card rounded-1 border-dark-light p-2 ">
                <div class="grid-2 gap-1 grid-sm-2 ">
                    <div class="fs-20 fs-sm-16 w-65 text-red">Установка</div>
                    <div class="w-35 ml-auto w-sm-100"><img  class="w-100" src="	https://static.orbitalock.uz/images/settings.png" alt=""></div>
                </div>
                <div class="fs-16">надежно, в указанные сроки</div>
            </div>
            <div class="card rounded-1 border-dark-light p-2 ">
                <div class="grid-2 gap-1 grid-sm-2 ">
                    <div class="fs-20 fs-sm-16 w-65 text-red">Обслужив</div>
                    <div class="w-35 ml-auto w-sm-100"><img  class="w-100" src="	https://static.orbitalock.uz/images/help.png" alt=""></div>
                </div>
                <div class="fs-16">круглосуточная поддержка</div>
            </div>
        </div>
        </div>
    </div>
</div>

 
 
 
 
 {% endblock %}